.page {
  // background-color: #5d4551;
  height: 100vh;
  width: 100%;
  padding: 100px;
}

.content1 {
  height: 650px;
  width: 450px;
  border: 100px solid;
  border-image: url('/images/fancy-corner.png');
  border-image-slice: 30% 20%;
  // border-image-width: 20%; doesn't work on chrome for me
  border-image-outset: 4px 8px;
}

.content2 {
  height: 250px;
  width: 650px;
  border: 100px solid;
  border-image-slice: 30% 20%;
  // border-image-width: 20%; doesn't work on chrome for me
  border-image-outset: 4px 8px;
  border-image: url('/images/fancy-corner.png');
}

.content3 {
  height: 650px;
  width: 650px;
  border: 100px solid;
  border-image-slice: 30% 20%;
  // border-image-width: 20%; doesn't work on chrome for me
  border-image-outset: 4px 8px;
  border-image: url('/images/grunge-clean-mid.svg');
}

.content1,
.content2,
.content3 {
  display: inline-block;
  // border: 100px solid;
  border-image-slice: 30% 20%;
  // border-image-width: 20%; doesn't work on chrome for me
  border-image-outset: 4px 8px;
  // background-color: #514e4e;

  display: flex;
  justify-content: center;
  align-items: center;

  div {
    z-index: 30;
    height: 200px;
    width: 50%;
    background-color: blue !important;

    p {
      color: black;
      font-size: 16px;
    }
  }
}
